<!-- Name -->
<%= f.label :name, '店舗名', class: "form-label" %>

<%= f.text_field :name, class: "form-control" %>

<!-- GAP -->
<div class="gap gap-36"></div>

<!-- Area -->
<%= f.label :area, 'エリア', class: "form-label" %>

<%= f.select :area, Shop.areas.keys, {prompt: "エリアを選択してください"}, {class: "form-control"} %>

<!-- GAP -->
<div class="gap gap-36"></div>

<!-- Address -->
<%= f.label :address, '住所', class: "form-label" %>

<%= f.text_field :address, class: "form-control", placeholder: "東京都港区芝公園４丁目２−８" %>

<!-- GAP -->
<div class="gap gap-36"></div>

<!-- Link -->
<%= f.label :link, "URL", class: "label" %>
<%= f.url_field :link, class: "form-control" %>

<div class="gap gap-72"></div>