<!-- Testimonials block -->
<div class="main-block">
  <!-- Block container -->
  <div class="shop-container row">

    <!-- Block header -->
    <div class="shop-block-header col-12">
      <% if shop.address.present? %>
        <div class="shop-map" id="shop-map"></div>
      <% else %>
        <div class="shop-map"></div>
      <% end %>
    </div><!-- /End Block header -->

    <!-- Block body -->
    <div class="shop-block-body col-12">
      <!-- Block heading -->
      <div class="shop-block-heading">
        <table>
          <tbody>
            <tr>
              <th>店舗名</th>
              <td><%= shop.name %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td><%= shop.address %></td>
            </tr>
            <tr>
              <th>URL</th>
              <td><%= link_to "#{shop.link}","#{shop.link}" %></td>
            </tr>
          </tbody>
        </table>
      </div><!-- /End Block heading -->
    </div><!--/End Block body -->

    <!-- Block header -->
    <% if @shop.shop_images.present? %>
      <div class="shop-block-header col-12">
        <div class="shop-image-block">
          <% @shop.shop_images.each do |shop_image| %>
            <div class="shop-image">
              <div class="shop-image-head">
                <%= image_tag shop_image.image_url %>
              </div>
              <div class="shop-image-body">
                <% if current_user.present? && current_user.id == shop_image.user_id %>
                  <%= link_to '削除', shop_shop_image_path(shop_id: @shop.id, id: shop_image.id), method: :delete %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div><!-- /End Block header -->
    <% end %>
    <% if current_user.present? && shop.user.id == current_user.id %>
      <div class="text-end">
        <%= link_to '画像追加', new_shop_shop_image_path(shop), class: "btn btn-md btn-round btn-success mt-12 mb-12 mr-12 text-white" %>
      </div>
    <% end %>


    <div class="col-12">
      <div class="shop-block-content">
        <div class="shop-block-info row">
          <div class="col-lg-2">
            <% if shop.stock_flavors.present? && shop.stock_flavors.length > 1 %>
              <%= link_to "専用ガチャ", gacha_shop_path(shop), class: "btn btn-md btn-round btn-danger ml-18 mr-18 mb-36 text-white" %>
            <% end %>
          </div>
          <div class="col-lg-8"><h2>フレーバー</h2></div>
          <% if current_user.present? %>
            <div class="col-lg-2"><%= link_to "在庫管理", flavors_shop_path(shop), class: "btn btn-md btn-round btn-success ml-18 mr-18 mb-36 text-white" %></div>
          <% end %>
          
          <% @categories.each do |category| %>
            <div class="main-block-title">
              <span><%= category.name %></span>
            </div>
            <% @flavors.where(category_id: category.id).each do |flavor| %>
              <div class="col-lg-3">
                <!-- Block -->
                <div class="row item-block">
                  <div class="col-10 item-name">
                    <%= link_to flavor_path(flavor) do %>
                      <%= flavor.name %>
                    <% end %>
                  </div>
                  <div class="col-2 stock-flavor-check" id="stock_flavor_<%= flavor.id %>_status">
                    <% if current_user.present? && shop.user.id == current_user.id %>
                      <%= render 'stocks/status_button', {shop: shop, flavor: flavor} %>
                    <% else %>
                      <span class="badge bg-warning"><%= find_combinations(flavor).length %></span>
                    <% end %>
                  </div>
                </div><!-- /End Block -->
              </div><!-- /End col-lg-4 -->
            <% end %>
          <% end %>

        </div>
      </div>
    </div>


  </div><!-- /End Block container -->
</div><!-- /End Testimonials block -->


<script>
  function initMap(){
    let latlng = {lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %> };
    let map = new google.maps.Map(document.getElementById('shop-map'), {
    center: latlng,
    zoom: 17,
    disableDefaultUI: true,
    });
    const markerOption = {
      position: latlng,
      map: map, 
    }

    const marker = new google.maps.Marker(markerOption);
  }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer>
</script>