<!-- Testimonials block -->
<div class="main-block recommend-combination-block">
  <!-- Block container -->
  <div class="main-block-container recommend-combination-container">

    <% if current_user.present? && combination.status.present? %>
      <div id="bookmark_combination_<%= combination.id %>">
        <%= render 'combinations/bookmarks_button', {combination: combination} %>
      </div>
    <% end %>

    <!-- Block header -->
    <div class="main-block-header recommend-combination-header">
      <%= image_tag combination.first_flavor.flavor_image_url %>
      <%= image_tag combination.second_flavor.flavor_image_url %>
      <%= image_tag combination.third_flavor.flavor_image_url if combination.third_flavor.present? %>
      <%= image_tag combination.fourth_flavor.flavor_image_url if combination.fourth_flavor.present? %>
    </div><!-- /End Block header -->

    <!-- Block body -->
    <div class="main-block-body recommend-combination-body">

      <!-- Block heading -->
      <div class="main-block-heading recommend-combination-heading">
        <p class="name"><%= combination.first_flavor.name %></p>
        <p class="name"><%= combination.second_flavor.name %></p>
        <% if combination.third_flavor.present? %>
          <p class="name"><%= combination.third_flavor.name %></p>
        <% else %>
          <br>
        <% end %>
        <% if combination.fourth_flavor.present? %>
          <p class="name"><%= combination.fourth_flavor.name %></p>
        <% else %>
          <br>
        <% end %>
        <div class="recommend-combination-status">
          <% if combination.status.present? %>
            <h6 class="role font-weight-500 accent-color"><%= combination.status %></h6>
            <span class="badge bg-success"><%= easy_status(combination) %></span>
            <span class="badge bg-danger"><%= sweet_status(combination) %></span>
            <span class="badge bg-warning"><%= refresh_status(combination) %></span>
            <span class="badge bg-primary"><%= relax_status(combination) %></span>
          <% else %>
            <h6>評価がありません</h6>
          <% end %>
        </div>
      </div><!-- /End Block heading -->

      <!-- Block content -->
      <div class="main-block-content recommend-combination-content mt-24">
        <% if combination.status.present? %>            
          <p><%= link_to 'show', combination_path(combination) %></p>
        <% end %>
        <%= link_to "https://twitter.com/share?url=#{ request.url }&text=【おすすめのフレーバー】%0a%0a#{ combination.name }", target: '_blank' do %>
          <p><i class="fab fa-twitter" style='color: #3399FF;'></i>share</p>
        <% end %>
      </div><!-- /End Block content -->
    </div><!--/End Block body -->

  </div><!-- /End Block container -->
</div><!-- /End Testimonials block -->
