<%= form_with model: @combination, url: combinations_path, class: "row", id: "combination_form", local: true do |f| %>


  <div class="mb-24">
    <label class="label">フレーバーの種類 <span class="red-color">*</span></label>
    <br>
    <%= f.radio_button :total_flavors, '2', checked: @total_flavors == 2, class: "btn-check" %>
    <%= f.label :total_flavors_2, '2種類', class: "btn btn-outline-success col-lg-2" %>
    <%= f.radio_button :total_flavors, '3', checked: @total_flavors == 3, class: "btn-check" %>
    <%= f.label :total_flavors_3, '3種類', class: "btn btn-outline-success col-lg-2" %>
    <%= f.radio_button :total_flavors, '4', checked: @total_flavors == 4, class: "btn-check" %>
    <%= f.label :total_flavors_4, '4種類', class: "btn btn-outline-success col-lg-2" %>
  </div>

  <!-- FirstFlavor -->
  <div class="col-md-6 flavor-form">
    <%= f.label :first_flavor_id, class: "label" do %>
      1つ目 <span class="red-color">*</span>
    <% end %>
    <br>
    <% @categories.each do |category| %>
      <%= link_to "#{category.name}", new_combination_path(first_category: category.id, second_category: @second_category, third_category: @third_category, fourth_category: @fourth_category), class: "btn btn-sm btn-outline-success" %>
    <% end %>
    <% if @first_category.present? %>
      <%= f.select :first_flavor_id, @first_category.flavors.map{ |flavor| [flavor.name, flavor.id]}, {prompt: "#{@first_category.name}"}, {class: "form-control"} %>
    <% else %>
      <div class="text-center mt-24"><h5>カテゴリーを選択してください</h5></div>
    <% end %>
  </div>

  <!-- SecondFlavor -->
  <div class="col-md-6 flavor-form">
    <%= f.label :second_flavor_id, class: "label" do %>
      2つ目 <span class="red-color">*</span>
    <% end %>
    <br>
    <% @categories.each do |category| %>
      <%= link_to "#{category.name}", new_combination_path(first_category: @first_category, second_category: category.id, third_category: @third_category, fourth_category: @fourth_category), class: "btn btn-sm btn-outline-success" %>
    <% end %>
    <% if @second_category.present? %>
      <%= f.select :second_flavor_id, @second_category.flavors.map{ |flavor| [flavor.name, flavor.id]}, {prompt: "#{@second_category.name}"}, {class: "form-control"} %>
    <% else %>
      <div class="text-center mt-24"><h5>カテゴリーを選択してください</h5></div>
    <% end %>
  </div>

  <!-- ThirdFlavor -->
  <div class="col-md-6 flavor-form" id="flavor3" >
    <%= f.label :third_flavor_id, class: "label" do %>
      3つ目 <span class="red-color">*</span>
    <% end %>
    <br>
    <% @categories.each do |category| %>
      <%= link_to "#{category.name}", new_combination_path(first_category: @first_category, second_category: @second_category, third_category: category.id, fourth_category: @fourth_category), class: "btn btn-sm btn-outline-success" %>
    <% end %>
    <% if @third_category.present? %>
      <%= f.select :third_flavor_id, @third_category.flavors.map{ |flavor| [flavor.name, flavor.id]}, {prompt: "#{@third_category.name}"}, {class: "form-control"} %>
    <% else %>
      <div class="text-center mt-24"><h5>カテゴリーを選択してください</h5></div>
    <% end %>
  </div>

  <!-- FourthFlavor -->
  <div class="col-md-6 flavor-form" id="flavor4">
    <%= f.label :fourth_flavor_id, class: "label" do %>
      4つ目 <span class="red-color">*</span>
    <% end %>
    <br>
    <% @categories.each do |category| %>
      <%= link_to "#{category.name}", new_combination_path(first_category: @first_category, second_category: @second_category, third_category: @third_category, fourth_category: category.id), class: "btn btn-sm btn-outline-success" %>
    <% end %>
    <% if @fourth_category.present? %>
      <%= f.select :fourth_flavor_id, @fourth_category.flavors.map{ |flavor| [flavor.name, flavor.id]}, {prompt: "#{@fourth_category.name}"}, {class: "form-control"} %>
    <% else %>
      <div class="text-center mt-24"><h5>カテゴリーを選択してください</h5></div>
    <% end %>
  </div>

  <!-- GAP -->
  <div class="gap gap-36"></div>

  <div class="col-md-3">
    <%= link_to 'フレーバーをリセット', new_combination_path, class: "btn btn-secondary btn-sm text-white" %>
  </div>
  <div class="mt-3"><p>※ 同一のフレーバーをは組み込めません</p></div>

  <!-- GAP -->
  <div class="gap gap-36"></div>

  <!-- Opinion -->
  <div class="col-md-12">
    <%= f.label :rating_score, class: "label" do %>
      評価 <span class="red-color">*</span>
    <% end %>
    <%= render 'shared/error_messages', object: f.object, item: :rating_score %>
    <div class="row">
      <%= f.radio_button :rating_score, '4', class: "btn-check", autocomplete: "off" %>
      <%= f.label :rating_score_4, 'VERY GOOD', class: "btn btn-outline-success col-lg-3" %>
      <%= f.radio_button :rating_score, '3', class: "btn-check", autocomplete: "off" %>
      <%= f.label :rating_score_3, 'GOOD', class: "btn btn-outline-success col-lg-3" %>
      <%= f.radio_button :rating_score, '2', class: "btn-check", autocomplete: "off" %>
      <%= f.label :rating_score_2, 'NOT BAD', class: "btn btn-outline-success col-lg-3" %>
      <%= f.radio_button :rating_score, '1', class: "btn-check", autocomplete: "off" %>
      <%= f.label :rating_score_1, 'NOT GOOD', class: "btn btn-outline-success col-lg-3" %>
    </div>
  </div>
  
  <!-- GAP -->
  <div class="gap gap-36"></div>								

  <!-- Sweet -->
  <div class="col-md-12">
    <%= f.label :sweet_score, class: "label" do %>
      甘さ <span class="red-color">*</span>
    <% end %>
    <%= render 'shared/error_messages', object: f.object, item: :sweet_score %>
    <div class="row">
      <%= f.radio_button :sweet_score, '1', class: "btn-check", autocomplete: "off" %>
      <%= f.label :sweet_score_1, '甘い', class: "btn btn-outline-success col-lg-6" %>
      <%= f.radio_button :sweet_score, '0', class: "btn-check", autocomplete: "off" %>
      <%= f.label :sweet_score_0, '甘くない', class: "btn btn-outline-success col-lg-6" %>
    </div>
  </div>
  
  <!-- GAP -->
  <div class="gap gap-36"></div>								

  <!-- Refresh -->
  <div class="col-md-12">
    <%= f.label :refresh_score, class: "label" do %>
      スッキリ感 <span class="red-color">*</span>
    <% end %>
    <%= render 'shared/error_messages', object: f.object, item: :refresh_score %>
    <div class="row">
      <%= f.radio_button :refresh_score, '1', class: "btn-check", autocomplete: "off" %>
      <%= f.label :refresh_score_1, 'スッキリ', class: "btn btn-outline-success col-lg-6" %>
      <%= f.radio_button :refresh_score, '0', class: "btn-check", autocomplete: "off" %>
      <%= f.label :refresh_score_0, 'スッキリしない', class: "btn btn-outline-success col-lg-6" %>
    </div>
  </div>
  
  <!-- GAP -->
  <div class="gap gap-36"></div>								

  <!-- Relax -->
  <div class="col-md-12">
    <%= f.label :relax_score, class: "label" do %>
      リラックス感 <span class="red-color">*</span>
    <% end %>
    <%= render 'shared/error_messages', object: f.object, item: :relax_score %>
    <div class="row">
      <%= f.radio_button :relax_score, '1', class: "btn-check", autocomplete: "off" %>
      <%= f.label :relax_score_1, 'リラックス', class: "btn btn-outline-success col-lg-6" %>
      <%= f.radio_button :relax_score, '0', class: "btn-check", autocomplete: "off" %>
      <%= f.label :relax_score_0, 'リラックスしない', class: "btn btn-outline-success col-lg-6" %>
    </div>
  </div>
  
  <!-- GAP -->
  <div class="gap gap-36"></div>								

  <!-- Easy -->
  <div class="col-md-12">
    <%= f.label :easy_score, class: "label" do %>
      吸いやすさ <span class="red-color">*</span>
    <% end %>
    <%= render 'shared/error_messages', object: f.object, item: :easy_score %>
    <div class="row">
      <%= f.radio_button :easy_score, '1', class: "btn-check", autocomplete: "off" %>
      <%= f.label :easy_score_1, '吸いやすい', class: "btn btn-outline-success col-lg-6" %>
      <%= f.radio_button :easy_score, '0', class: "btn-check", autocomplete: "off" %>
      <%= f.label :easy_score_0, '癖がある', class: "btn btn-outline-success col-lg-6" %>
    </div>
  </div>
  
  <!-- GAP -->
  <div class="gap gap-72"></div>								

  <!-- Submit button -->
  <div class="col-lg-12">
    <%= f.submit "登録", class: "btn btn-success btn-block" %>
  </div>
<% end %><!-- /End Form -->