<div id="page-body" class="page-body">
  <!-- row -->
  <div class="row main-row justify-content-center">

    <div id="primary" class="content-area col-lg-12">
        <!-- Main -->
        <main id="main" class="content-area-container site-main">
          <!-- Section -->
          <div class="main-section">
              <!-- container -->
            <div class="container gx-4">
              <!-- row -->
              <div class="row gx-36">


                <!-- col-lg-8 -->
                <div class="col-lg-2"><%= link_to "一覧", combinations_path, class: "btn btn-md btn-round btn-success ml-18 mr-18 mb-36 text-white" %></div>
                <div class="col-lg-8">

                  <!-- Section title -->
                  <div class="section-title text-center">
                    <!-- Section title container -->
                    <div class="section-title-container">
                      <!-- Section title body -->
                      <div class="section-title-body">
                        <!-- Section title heading -->
                        <div class="section-title-heading unchi">
                          <h2>Mixes</h2>
                          <h2>フレーバーミックス</h2>
                        </div><!-- /End Section title heading -->
                      </div><!--/End Section title body -->
                    </div><!-- /End Section title container -->
                  </div><!-- /End Section title -->

                  <br>
                  <div class="combination-container row">
                    <%= search_form_for @q, url: finds_combinations_path do |f| %>
                      <div class="search-field col-10">
                        <%= f.search_field :name_cont, placeholder: "キーワードを入力", class: "form-control" %>
                      </div>
                      <div class="search-button col-2">
                        <%= f.submit '検索', class: "btn btn-success btn-block form-control" %>
                      </div>
                    <% end %>
                  </div>

                  <!-- GAP -->
                  <div class="gap gap-36"></div>

                </div><!-- /End col-lg-8 -->
                <div class="col-lg-2"><%= link_to "NEW", new_combination_path, class: "btn btn-md btn-round btn-success ml-18 mr-18 mb-36 text-white" %></div>

                <div class="main-block-title">
                  <span>検索結果</span>
                </div>
                <div class="gap gap-36"></div>
                <!-- col-lg-4 -->
                <% if @results.exists? %>
                  <%= render 'combinations/list', { combinations: @results }%>
                <% else %>
                  <p class="text-center">該当なし</p>
                <% end %>
              </div><!-- /End row -->
            </div><!-- /End container -->
          </div><!-- /End Section -->

          <!-- boarder -->
          <div class="main-section section-fullwidth pt-0 pb-0">
            <div class="container-fluid gx-0">
              <div class="row gx-36">
                <div class="col-lg-12">
                  <div class="hr-divider hr-divider-layout-3 hr-divider-1px-border hr-divider-fullwidth grey-2-color"></div>
                </div>
              </div>
            </div>
          </div>

        </main><!-- /End Main -->
    </div><!-- /End Content area -->

    
  </div><!-- /End row -->
</div><!-- /End Page body -->