<div id="page-body" class="page-body">
	<!-- row -->
	<div class="row main-row justify-content-center">
		<!-- Content area
		==================================================== -->
		<div id="primary" class="content-area col-lg-12">
			<!-- Main -->
			<main id="main" class="content-area-container site-main">


				<!-- Section -->
				<div class="main-section">
						<!-- container -->
					<div class="container gx-4">
						<!-- row -->
						<div class="row gx-36">


							<!-- col-lg-8 -->
							<div class="col-lg-8 offset-lg-2">

								<!-- Section title -->
								<div class="section-title text-center">
									<!-- Section title container -->
									<div class="section-title-container">

										<!-- Section title body -->
										<div class="section-title-body">

											<!-- Section title heading -->
											<div class="section-title-heading unchi">
												<h2>コンビネーション</h2>
											</div><!-- /End Section title heading -->

										</div><!--/End Section title body -->

									</div><!-- /End Section title container -->
								</div><!-- /End Section title -->

								<!-- GAP -->
								<div class="gap gap-36"></div>

							</div><!-- /End col-lg-8 -->

							<!-- col-lg-12 -->
							<div class="col-lg-12 text-center">
								<%= link_to 'コンビネーション追加', new_combination_path, class: "btn btn-md btn-outline btn-round btn-primary ml-18 mr-18 mb-36" %>
							</div>

							<% @combinations.each do |combination| %>
								<!-- col-lg-4 -->
								<div class="col-lg-4">
									<!-- Testimonials block -->
									<div class="main-block boxed-block-2y testimonials-block white-color-bg grey-2-color-border text-center">
										<!-- Block container -->
										<div class="main-block-container testimonials-block-container">

											<!-- Block header -->
											<div class="main-block-header row">
												<div class="col-lg-6 testimonials-block-header"><%= image_tag 'sample.jpeg' %></div>
												<div class="col-lg-6 testimonials-block-header"><%= image_tag 'sample.jpeg' %></div>
											</div><!-- /End Block header -->

											<!-- Block body -->
											<div class="main-block-body testimonials-block-body">

												<!-- Block heading -->
												<div class="main-block-heading testimonials-block-heading">
													<h5 class="name">
														<%= combination.name %>
													</h5>
													<h6 class="role font-weight-500 accent-color"><%= combination.status %></h6>
												</div><!-- /End Block heading -->

												<!-- Block content -->
												<div class="main-block-content testimonials-block-content">
													<p><%= link_to 'show', combination_path(combination) %></p>
												</div><!-- /End Block content -->

												<!-- Block footer -->
												<div class="main-block-footer testimonials-block-footer", id="hoge">
													<div id="bookmark_combination_<%= combination.id %>">
														<%= render 'bookmarks_button', {combination: combination} %>
													</div>
												</div><!-- /End Block footer -->

											</div><!--/End Block body -->

										</div><!-- /End Block container -->
									</div><!-- /End Testimonials block -->
								</div><!-- /End col-lg-4 -->
							<% end %>



						</div><!-- /End row -->
					</div><!-- /End container -->
				</div><!-- /End Section -->

				<!-- boarder -->
				<div class="main-section section-fullwidth pt-0 pb-0">
					<div class="container-fluid gx-0">
						<div class="row gx-36">
							<div class="col-lg-12">
								<div class="hr-divider hr-divider-layout-3 hr-divider-1px-border hr-divider-fullwidth grey-2-color"></div>
							</div>
						</div>
					</div>
				</div>

				<!-- Section -->
				<div class="main-section">
						<!-- container -->
					<div class="container gx-4">
						<!-- row -->
						<div class="row gx-36">


							<!-- col-lg-8 -->
							<div class="col-lg-8 offset-lg-2">

								<!-- Section title -->
								<div class="section-title text-center">
									<!-- Section title container -->
									<div class="section-title-container">

										<!-- Section title body -->
										<div class="section-title-body">

											<!-- Section title heading -->
											<div class="section-title-heading">
												<h2>オーダーの組み合わせ</h2>
											</div><!-- /End Section title heading -->

										</div><!--/End Section title body -->

									</div><!-- /End Section title container -->
								</div><!-- /End Section title -->

								<!-- GAP -->
								<div class="gap gap-36"></div>

							</div><!-- /End col-lg-8 -->

							<% @compabilities.each do |compability| %>
								<%= render 'compabilities/content', {compability: compability} %>
							<% end %>


							<!-- col-lg-12 -->
							<div class="col-lg-12 text-center">
								<%= link_to '組み合わせ追加', new_compability_path, class: "btn btn-md btn-outline btn-round btn-primary ml-18 mr-18 mb-36" %>
							</div>


						</div><!-- /End row -->
					</div><!-- /End container -->
				</div><!-- /End Section -->

			</main><!-- /End Main -->
		</div><!-- /End Content area -->
	</div><!-- /End row -->
</div><!-- /End Page body -->