<div id="page-body" class="page-body">
	<!-- row -->
	<div class="row main-row justify-content-center">
		<!-- Content area
		==================================================== -->
		<div id="primary" class="content-area col-lg-12">
			<!-- Main -->
			<main id="main" class="content-area-container site-main">


				<!-- Section -->
				<div class="main-section">
					<!-- container -->
					<div class="container gx-4">
						<!-- row -->
						<div class="row gx-36">


							<!-- col-lg-8 -->
							<div class="col-lg-8 offset-lg-2">

								<!-- Section title -->
								<div class="section-title text-center">
									<!-- Section title container -->
									<div class="section-title-container">

										<!-- Section title body -->
										<div class="section-title-body">

											<!-- Section title heading -->
											<div class="section-title-heading">
												<h2>New Combination</h2>
												<h2>新規コンビネーション</h2>
											</div><!-- /End Section title heading -->

										</div><!--/End Section title body -->

									</div><!-- /End Section title container -->
								</div><!-- /End Section title -->

								<!-- GAP -->
								<div class="gap gap-36"></div>

							</div><!-- /End col-lg-8 -->


							<!-- col-lg-8 -->
							<div class="col-lg-8 offset-lg-2">
								<!-- Contact form -->
								<div class="form-block form-block-validation form-block-contact">
									<!-- Form container -->
									<div class="form-block-container">
										<!-- Form -->
										<%= form_with model: @combination, url: combinations_path, class: "row", local: true do |f| %>

											<div class="mb-3">
												<label class="label">フレーバーの種類 <span class="red-color">*</span></label>
												<br>
												<%= f.radio_button :total_flavors, '2', class: "btn-check" %>
												<%= f.label :total_flavors_2, '2種類', class: "btn btn-outline-success col-lg-2" %>
												<%= f.radio_button :total_flavors, '3', class: "btn-check" %>
												<%= f.label :total_flavors_3, '3種類', class: "btn btn-outline-success col-lg-2" %>
												<%= f.radio_button :total_flavors, '4', class: "btn-check" %>
												<%= f.label :total_flavors_4, '4種類', class: "btn btn-outline-success col-lg-2" %>
											</div>

											<!-- FirstFlavor -->
											<div class="col-md-6">
												<%= f.label :first_flavor_id, class: "label" do %>
													1つ目 <span class="red-color">*</span>
												<% end %>
												<%= f.select :first_flavor_id, @flavors.map{ |flavor| [flavor.name, flavor.id]}, {}, {class: "form-control"} %>
											</div>


											<!-- SecondFlavor -->
											<div class="col-md-6">
												<%= f.label :second_flavor_id, class: "label" do %>
													2つ目 <span class="red-color">*</span>
												<% end %>
												<%= f.select :second_flavor_id, @flavors.map{ |flavor| [flavor.name, flavor.id]}, {}, {class: "form-control"} %>
											</div>

											<!-- ThirdFlavor -->
											<div class="col-md-6" id="flavor3" >
												<%= f.label :third_flavor_id, class: "label" do %>
													3つ目 <span class="red-color">*</span>
												<% end %>
												<%= f.select :third_flavor_id, @flavors.map{ |flavor| [flavor.name, flavor.id]}, {}, {class: "form-control"} %>
											</div>

											<!-- FourthFlavor -->
											<div class="col-md-6" id="flavor4">
												<%= f.label :fourth_flavor_id, class: "label" do %>
													4つ目 <span class="red-color">*</span>
												<% end %>
												<%= f.select :fourth_flavor_id, @flavors.map{ |flavor| [flavor.name, flavor.id]}, {}, {class: "form-control"} %>
											</div>

											<!-- GAP -->
											<div class="gap gap-36"></div>

											<!-- Opinion -->
											<div class="col-md-12">
												<%= f.label :rating_score, class: "label" do %>
													評価 <span class="red-color">*</span>
												<% end %>
												<%= render 'shared/error_messages', object: f.object, item: :rating_score %>
												<div class="row">
													<%= f.radio_button :rating_score, '4', class: "btn-check", autocomplete: "off" %>
													<%= f.label :rating_score_4, 'VERY GOOD', class: "btn btn-outline-success col-lg-3" %>
													<%= f.radio_button :rating_score, '3', class: "btn-check", autocomplete: "off" %>
													<%= f.label :rating_score_3, 'GOOD', class: "btn btn-outline-success col-lg-3" %>
													<%= f.radio_button :rating_score, '2', class: "btn-check", autocomplete: "off" %>
													<%= f.label :rating_score_2, 'NOT BAD', class: "btn btn-outline-success col-lg-3" %>
													<%= f.radio_button :rating_score, '1', class: "btn-check", autocomplete: "off" %>
													<%= f.label :rating_score_1, 'NOT GOOD', class: "btn btn-outline-success col-lg-3" %>
												</div>
											</div>
											
											<!-- GAP -->
											<div class="gap gap-36"></div>								

											<!-- Sweet -->
											<div class="col-md-12">
												<%= f.label :sweet_score, class: "label" do %>
													甘さ <span class="red-color">*</span>
												<% end %>
												<%= render 'shared/error_messages', object: f.object, item: :sweet_score %>
												<div class="row">
													<%= f.radio_button :sweet_score, '1', class: "btn-check", autocomplete: "off" %>
													<%= f.label :sweet_score_1, '甘い', class: "btn btn-outline-success col-lg-6" %>
													<%= f.radio_button :sweet_score, '0', class: "btn-check", autocomplete: "off" %>
													<%= f.label :sweet_score_0, '甘くない', class: "btn btn-outline-success col-lg-6" %>
												</div>
											</div>
											
											<!-- GAP -->
											<div class="gap gap-36"></div>								

											<!-- Refresh -->
											<div class="col-md-12">
												<%= f.label :refresh_score, class: "label" do %>
													スッキリ感 <span class="red-color">*</span>
												<% end %>
												<%= render 'shared/error_messages', object: f.object, item: :refresh_score %>
												<div class="row">
													<%= f.radio_button :refresh_score, '1', class: "btn-check", autocomplete: "off" %>
													<%= f.label :refresh_score_1, 'スッキリ', class: "btn btn-outline-success col-lg-6" %>
													<%= f.radio_button :refresh_score, '0', class: "btn-check", autocomplete: "off" %>
													<%= f.label :refresh_score_0, 'スッキリしない', class: "btn btn-outline-success col-lg-6" %>
												</div>
											</div>
											
											<!-- GAP -->
											<div class="gap gap-36"></div>								

											<!-- Relax -->
											<div class="col-md-12">
												<%= f.label :relax_score, class: "label" do %>
													リラックス感 <span class="red-color">*</span>
												<% end %>
												<%= render 'shared/error_messages', object: f.object, item: :relax_score %>
												<div class="row">
													<%= f.radio_button :relax_score, '1', class: "btn-check", autocomplete: "off" %>
													<%= f.label :relax_score_1, 'リラックス', class: "btn btn-outline-success col-lg-6" %>
													<%= f.radio_button :relax_score, '0', class: "btn-check", autocomplete: "off" %>
													<%= f.label :relax_score_0, 'リラックスしない', class: "btn btn-outline-success col-lg-6" %>
												</div>
											</div>
											
											<!-- GAP -->
											<div class="gap gap-36"></div>								

											<!-- Easy -->
											<div class="col-md-12">
												<%= f.label :easy_score, class: "label" do %>
													吸いやすさ <span class="red-color">*</span>
												<% end %>
												<%= render 'shared/error_messages', object: f.object, item: :easy_score %>
												<div class="row">
													<%= f.radio_button :easy_score, '1', class: "btn-check", autocomplete: "off" %>
													<%= f.label :easy_score_1, '吸いやすい', class: "btn btn-outline-success col-lg-6" %>
													<%= f.radio_button :easy_score, '0', class: "btn-check", autocomplete: "off" %>
													<%= f.label :easy_score_0, '癖がある', class: "btn btn-outline-success col-lg-6" %>
												</div>
											</div>
											
											<!-- GAP -->
											<div class="gap gap-72"></div>								

											<!-- Submit button -->
											<div class="col-lg-12">
												<%= f.submit "登録", class: "btn btn-success btn-block" %>
											</div>


										<% end %><!-- /End Form -->
									</div><!-- /End Form container -->
								</div><!-- /End Contact form -->
							</div><!-- /End col-lg-8 -->


						</div><!-- /End row -->
					</div><!-- /End container -->
				</div><!-- /End Section -->


			</main><!-- /End Main -->
		</div><!-- /End Content area -->
	</div><!-- /End row -->
</div><!-- /End Page body -->