<div id="page-body" class="page-body">
  <!-- row -->
  <div class="row main-row justify-content-center">
    <!-- Content area
    ==================================================== -->
    <div id="primary" class="content-area col-lg-12">
      <!-- Main -->
      <main id="main" class="content-area-container site-main">

        <!-- Section -->
        <div class="main-section">
          <!-- container -->
          <div class="container gx-4">
              <!-- row -->
              <div class="row gx-36">

                <!-- col-lg-4 -->
                <div class="col-lg-12">
                  <%= render 'combinations/combination', {combination: @combination} %>
                </div><!-- /End col-lg-4 -->

                <!-- GAP -->
                <div class="gap gap-36"></div>

                <!-- col-lg-3 -->
                <div class="col-lg-3 easy-block">

                  <!-- Icon block -->
                  <div class="main-block icon-block text-center">
                    <!-- Block container -->
                    <div class="main-block-container icon-block-container">

                      <!-- Block header -->
                      <div class="main-block-header icon-block-header icon-solid accent-color-bg white-color">
                        <i class="fa-brands fa-ello"></i>
                      </div><!-- /End Block header -->

                      <!-- Block body -->
                      <div class="main-block-body icon-block-body">

                        <!-- Block heading -->
                        <div class="main-block-heading icon-block-heading">
                          <h4>吸いやすさ</h4>
                        </div><!-- /End Block heading -->

                        <!-- Block content -->
                        <div class="main-block-content icon-block-content">
                          <p><%= easy_status_for_show(@combination) %></p>
                        </div><!-- /End Block content -->

                      </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                  </div><!-- /End Icon block -->

                  <!-- GAP -->
                  <div class="gap gap-18 d-lg-none"></div>

                </div><!-- /End col-lg-3 -->

                <!-- col-lg-3 -->
                <div class="col-lg-3 sweet-block">

                  <!-- Icon block -->
                  <div class="main-block icon-block text-center">
                    <!-- Block container -->
                    <div class="main-block-container icon-block-container">

                      <!-- Block header -->
                      <div class="main-block-header icon-block-header icon-solid accent-color-bg white-color">
                        <i class="fa-solid fa-cubes-stacked"></i>
                      </div><!-- /End Block header -->

                      <!-- Block body -->
                      <div class="main-block-body icon-block-body">

                        <!-- Block heading -->
                        <div class="main-block-heading icon-block-heading">
                          <h4>甘さ</h4>
                        </div><!-- /End Block heading -->

                        <!-- Block content -->
                        <div class="main-block-content icon-block-content">
                          <p><%= sweet_status_for_show(@combination) %></p>
                        </div><!-- /End Block content -->

                      </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                  </div><!-- /End Icon block -->

                  <!-- GAP -->
                  <div class="gap gap-18 d-lg-none"></div>

                </div><!-- /End col-lg-3 -->

                <!-- col-lg-3 -->
                <div class="col-lg-3 refresh-block">

                  <!-- Icon block -->
                  <div class="main-block icon-block text-center">
                    <!-- Block container -->
                    <div class="main-block-container icon-block-container">

                      <!-- Block header -->
                      <div class="main-block-header icon-block-header icon-solid accent-color-bg white-color">
                        <i class="fa-solid fa-wind"></i>
                      </div><!-- /End Block header -->

                      <!-- Block body -->
                      <div class="main-block-body icon-block-body">

                        <!-- Block heading -->
                        <div class="main-block-heading icon-block-heading">
                          <h4>スッキリ感</h4>
                        </div><!-- /End Block heading -->

                        <!-- Block content -->
                        <div class="main-block-content icon-block-content">
                          <p><%= refresh_status_for_show(@combination) %></p>
                        </div><!-- /End Block content -->

                      </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                  </div><!-- /End Icon block -->

                  <!-- GAP -->
                  <div class="gap gap-18 d-lg-none"></div>

                </div><!-- /End col-lg-3 -->

                <!-- col-lg-3 -->
                <div class="col-lg-3 relax-block">

                  <!-- Icon block -->
                  <div class="main-block icon-block text-center">
                    <!-- Block container -->
                    <div class="main-block-container icon-block-container">

                      <!-- Block header -->
                      <div class="main-block-header icon-block-header icon-solid accent-color-bg white-color">
                        <i class="fas fa-couch"></i>
                      </div><!-- /End Block header -->

                      <!-- Block body -->
                      <div class="main-block-body icon-block-body">

                        <!-- Block heading -->
                        <div class="main-block-heading icon-block-heading">
                          <h4>リラックス感</h4>
                        </div><!-- /End Block heading -->

                        <!-- Block content -->
                        <div class="main-block-content icon-block-content">
                          <p><%= relax_status_for_show(@combination) %></p>
                        </div><!-- /End Block content -->

                      </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                  </div><!-- /End Icon block -->

                  <!-- GAP -->
                  <div class="gap gap-18 d-lg-none"></div>

                </div><!-- /End col-lg-3 -->


                <!-- Content area
                ================================================ -->
                <div class="container mt-54">
                  <div id="primary" class="content-area col-lg-12">
                    <!-- Block container -->
                    <div class="main-block-container blog-block-container blog-block-inner-container">
                      <!-- Block body -->
                      <div class="main-block-body blog-block-body blog-block-inner-body">
                        <!-- Block footer -->
                        <div class="main-block-footer blog-block-footer blog-block-inner-footer">
                          <!-- Comments block -->
                          <div class="main-block comments-block">
                            <!-- Block container -->
                            <div class="main-block-container comments-block-container">
                              <!-- Block body -->
                              <div class="main-block-body comments-block-body">
                                <!-- Block heading -->
                                <div class="main-block-heading mb-54 combination-title">
                                  <span><%= @review.count %> Comments</span>
                                </div><!-- /End Block heading -->
                                <!-- Block content -->
                                <div class="main-block-content comments-block-content">
                                  <!-- Comments Block List -->
                                  <ul class="comments-block-list">
                                    <!-- Comments Block Item -->
                                    <li class="comments-block-item">
                                      <!-- Comment Block -->
                                      <div class="main-block comment-block">
                                        <!-- Comment Block Container -->
                                        <div class="main-block-container comment-block-container">

                                          <% @review.each do |review| %>

                                            <!-- Comment Block Avatar -->
                                            <div class="main-block-header comment-block-header">
                                              <%= image_tag review.user.avatar_url %>
                                            </div><!-- /End Comment Block Avatar -->
                                            <!-- Comment Block Body -->
                                            <div class="main-block-body comment-block-body mb-3">

                                              <!-- Comment Block Heading -->
                                              <div class="main-block-heading comment-block-heading">
                                                <h5><%= review.user.name %></h5>
                                              </div><!-- /End Comment Block Heading -->

                                              <!-- Comment Block Description -->
                                              <div class="main-block-content comment-block-content">
                                                <div class="row">
                                                  <div class="col-10 mt-2"><p><%= review.comment %></p></div>
                                                  <div class="col-2">
                                                    <% if current_user.present? && review.user.id == current_user.id %>
                                                      <%= link_to "削除", combination_review_combination_path(@combination, review), class: "btn btn-sm btn-outline btn-round btn-dark", method: :delete %>
                                                    <% end %>
                                                  </div>
                                                </div>
                                              </div><!-- /End Comment Block Description -->

                                            </div><!-- /End Comment Block Body -->

                                          <% end %>

                                        </div><!-- /End Comment Block Container -->
                                      </div><!-- /End Comment Block -->
                                    </li><!-- /End Comments Block Item -->
                                  </ul><!-- /End Comments Block List -->
                                </div><!-- /End Block content -->
                              </div><!--/End Block body -->
                            </div><!-- /End Block container -->
                          </div><!-- /End Comments -->


                          <!-- Reply block -->
                          <% if current_user.present? %>
                            <div class="main-block reply-block" id="reply">
                              <!-- Block container -->
                              <div class="main-block-container reply-block-container">

                                <!-- Block body -->
                                <div class="main-block-body reply-block-body">

                                  <!-- Block heading -->
                                  <div class="main-block-heading reply-block-heading section-title-small"></div>

                                  <!-- Block content -->
                                  <div class="main-block-content reply-block-content">
                                    <!-- Reply form -->
                                    <div class="form-block form-block-validation form-block-reply">
                                      <!-- Form container -->
                                      <div class="form-block-container">
                                        <!-- Form -->
                                        <%= form_with model: @review_combination, url: combination_review_combinations_path(@combination), class: "row", local: true do |f| %>

                                          <div class="col-md-7">
                                            <%= f.label :rating, class: "label" do %>
                                              評価 <span class="red-color">*</span>
                                            <% end %>
                                            <%= f.select :rating, ReviewCombination::RATING.map, {}, {class: "form-control"} %>
                                          </div>

                                          <div class="col-md-7">
                                            <%= f.label :sweet, class: "label" do %>
                                              甘さ
                                            <% end %>
                                            <%= f.select :sweet, ReviewCombination::SWEET.map, {}, {class: "form-control"} %>
                                          </div>

                                          <div class="col-md-7">
                                            <%= f.label :refresh, class: "label" do %>
                                              スッキリ感
                                            <% end %>
                                            <%= f.select :refresh, ReviewCombination::REFRESH.map, {}, {class: "form-control"} %>
                                          </div>

                                          <div class="col-md-7">
                                            <%= f.label :relax, class: "label" do %>
                                              リラックス感
                                            <% end %>
                                            <%= f.select :relax, ReviewCombination::RELAX.map, {}, {class: "form-control"} %>
                                          </div>

                                          <div class="col-md-7">
                                            <%= f.label :easy, class: "label" do %>
                                              吸いやすさ
                                            <% end %>
                                            <%= f.select :easy, ReviewCombination::EASY.map, {}, {class: "form-control"} %>
                                          </div>

                                          <!-- Comment -->
                                          <div class="col-lg-12">
                                            <%= f.label :comment, class: "label" do %>
                                              コメント
                                            <% end %>
                                            <%= f.text_area :comment, class: "form-control" %>
                                          </div><!-- /End Comment -->

                                          <!-- Submit button -->
                                          <div class="col-lg-12">
                                            <%= f.submit "投稿", class: "btn btn-secondary" %>
                                          </div><!-- /End Submit button -->

                                        <% end %><!-- /End Form -->
                                      </div><!-- /End Form container -->
                                    </div><!-- /End Reply form -->
                                  </div><!-- /End Block content -->
                                </div><!--/End Block body -->
                              </div><!-- /End Block container -->
                            </div><!-- /End Comments -->
                          <% end %>
                        </div><!-- /End Block footer -->
                      </div><!--/End Block body -->
                    </div><!-- /End Block container -->
                  </div>
                </div>
              </div><!-- /End row -->
          </div><!-- /End container -->
        </div><!-- /End Section -->
      </main><!-- /End Main -->
    </div><!-- /End Content area -->
  </div><!-- /End row -->
</div><!-- /End Page body -->

