<div id="page-body" class="page-body">
	<!-- row -->
	<div class="row main-row justify-content-center">
		<!-- Content area
		==================================================== -->
		<div id="primary" class="content-area col-lg-12">
			<!-- Main -->
			<main id="main" class="content-area-container site-main">

				<!-- Section -->
				<div class="main-section">
						<!-- container -->
						<div class="container gx-4">
								<!-- row -->
								<div class="row gx-36">

									<!-- col-lg-8 -->
									<div class="col-lg-8 offset-lg-2">

										<!-- Section title -->
										<div class="section-title text-center">
											<!-- Section title container -->
											<div class="section-title-container">

												<!-- Section title body -->
												<div class="section-title-body">

													<!-- Section title heading -->
													<div class="section-title-heading">
														<h2>
															<%= @combination.title %>
														</h2>
													</div><!-- /End Section title heading -->

												</div><!--/End Section title body -->

											</div><!-- /End Section title container -->
										</div><!-- /End Section title -->

										<!-- GAP -->
										<div class="gap gap-36"></div>

									</div><!-- /End col-lg-8 -->

									<!-- col-lg-8 -->
									<div class="col-lg-8 offset-lg-2">

										<!-- Section title -->
										<div class="section-title text-center">
											<!-- Section title container -->
											<div class="section-title-container">

												<!-- Section title body -->
												<div class="section-title-body">

													<!-- Section title heading -->
													<div class="section-title-heading">
														<h2><%= @combination.status.score %> 点</h2>
													</div><!-- /End Section title heading -->

												</div><!--/End Section title body -->

											</div><!-- /End Section title container -->
										</div><!-- /End Section title -->
									</div><!-- /End col-lg-8 -->

									<!-- GAP -->
									<div class="gap gap-36"></div>

									<!-- col-lg-3 -->
									<div class="col-lg-3">

											<!-- Icon block -->
											<div class="main-block icon-block text-center">
												<!-- Block container -->
												<div class="main-block-container icon-block-container">

													<!-- Block header -->
													<div class="main-block-header icon-block-header icon-solid accent-color-bg white-color">
														<i class="fa-solid fa-cubes-stacked"></i>
													</div><!-- /End Block header -->

													<!-- Block body -->
													<div class="main-block-body icon-block-body">

														<!-- Block heading -->
														<div class="main-block-heading icon-block-heading">
															<h4>甘さ</h4>
														</div><!-- /End Block heading -->

														<!-- Block content -->
														<div class="main-block-content icon-block-content">
															<p><%= @combination.status.sweet_rate %></p>
														</div><!-- /End Block content -->

													</div><!--/End Block body -->

												</div><!-- /End Block container -->
											</div><!-- /End Icon block -->

											<!-- GAP -->
											<div class="gap gap-18 d-lg-none"></div>

									</div><!-- /End col-lg-3 -->

									<!-- col-lg-3 -->
									<div class="col-lg-3">

											<!-- Icon block -->
											<div class="main-block icon-block text-center">
												<!-- Block container -->
												<div class="main-block-container icon-block-container">

													<!-- Block header -->
													<div class="main-block-header icon-block-header icon-solid accent-color-bg white-color">
														<i class="fa-solid fa-wind"></i>
													</div><!-- /End Block header -->

													<!-- Block body -->
													<div class="main-block-body icon-block-body">

														<!-- Block heading -->
														<div class="main-block-heading icon-block-heading">
															<h4>スッキリ感</h4>
														</div><!-- /End Block heading -->

														<!-- Block content -->
														<div class="main-block-content icon-block-content">
															<p><%= @combination.status.refresh_rate %></p>
														</div><!-- /End Block content -->

													</div><!--/End Block body -->

												</div><!-- /End Block container -->
											</div><!-- /End Icon block -->

											<!-- GAP -->
											<div class="gap gap-18 d-lg-none"></div>

									</div><!-- /End col-lg-3 -->

									<!-- col-lg-3 -->
									<div class="col-lg-3">

											<!-- Icon block -->
											<div class="main-block icon-block text-center">
												<!-- Block container -->
												<div class="main-block-container icon-block-container">

													<!-- Block header -->
													<div class="main-block-header icon-block-header icon-solid accent-color-bg white-color">
														<i class="fas fa-couch"></i>
													</div><!-- /End Block header -->

													<!-- Block body -->
													<div class="main-block-body icon-block-body">

														<!-- Block heading -->
														<div class="main-block-heading icon-block-heading">
															<h4>リラックス感</h4>
														</div><!-- /End Block heading -->

														<!-- Block content -->
														<div class="main-block-content icon-block-content">
															<p><%= @combination.status.relax_rate %></p>
														</div><!-- /End Block content -->

													</div><!--/End Block body -->

												</div><!-- /End Block container -->
											</div><!-- /End Icon block -->

											<!-- GAP -->
											<div class="gap gap-18 d-lg-none"></div>

									</div><!-- /End col-lg-3 -->

									<!-- col-lg-3 -->
									<div class="col-lg-3">

											<!-- Icon block -->
											<div class="main-block icon-block text-center">
												<!-- Block container -->
												<div class="main-block-container icon-block-container">

													<!-- Block header -->
													<div class="main-block-header icon-block-header icon-solid accent-color-bg white-color">
														<i class="fa-brands fa-ello"></i>
													</div><!-- /End Block header -->

													<!-- Block body -->
													<div class="main-block-body icon-block-body">

														<!-- Block heading -->
														<div class="main-block-heading icon-block-heading">
															<h4>吸いやすさ</h4>
														</div><!-- /End Block heading -->

														<!-- Block content -->
														<div class="main-block-content icon-block-content">
															<p><%= @combination.status.easy_rate %></p>
														</div><!-- /End Block content -->

													</div><!--/End Block body -->

												</div><!-- /End Block container -->
											</div><!-- /End Icon block -->

											<!-- GAP -->
											<div class="gap gap-18 d-lg-none"></div>

									</div><!-- /End col-lg-3 -->


								</div><!-- /End row -->
						</div><!-- /End container -->
				</div><!-- /End Section -->

				<% if @compabilities.exists? %>
					<%= render 'compability', {compabilities: @compabilities} %>
				<% end %>

			</main><!-- /End Main -->
		</div><!-- /End Content area -->
	</div><!-- /End row -->
</div><!-- /End Page body -->

<!-- boarder -->
<div class="main-section section-fullwidth pt-0 pb-0">
	<div class="container-fluid gx-0">
		<div class="row gx-36">
			<div class="col-lg-12">
				<div class="hr-divider hr-divider-layout-3 hr-divider-1px-border hr-divider-fullwidth grey-2-color"></div>
			</div>
		</div>
	</div>
</div>

<!-- Page body ============================================================ -->
<div id="page-body" class="page-body page-right-sidebar">
	<!-- container -->
	<div class="container gx-4">
		<!-- row -->
		<div class="row main-row justify-content-center">

			<!-- Content area
			================================================ -->
			<div id="primary" class="content-area col-lg-8">
				<!-- Main -->
				<main id="main" class="content-area-container site-main">
					<!-- Blog wrapper -->
					<div class="blog-block-wrapper">
						<!-- row -->
						<div class="row gx-36">
							<!-- Post -->
							<div class="blog-block-post col-lg-12">
								<!-- Post -->
								<article class="main-block blog-block blog-block-inner format-standard">
									<!-- Block container -->
									<div class="main-block-container blog-block-container blog-block-inner-container">
										<!-- Block body -->
										<div class="main-block-body blog-block-body blog-block-inner-body">
											<!-- Block footer -->
											<div class="main-block-footer blog-block-footer blog-block-inner-footer">
												<!-- Comments block -->
												<div class="main-block comments-block" id="comments">
													<!-- Block container -->
													<div class="main-block-container comments-block-container">
														<!-- Block body -->
														<div class="main-block-body comments-block-body">
															<!-- Block heading -->
															<div class="main-block-heading comments-block-heading section-title-small">
																<h6 class="font-weight-500"><span><%= @review.count %> Comments</span></h6>
															</div><!-- /End Block heading -->
															<!-- Block content -->
															<div class="main-block-content comments-block-content">
																<!-- Comments Block List -->
																<ul class="comments-block-list">
																	<!-- Comments Block Item -->
																	<li class="comments-block-item">
																		<!-- Comment Block -->
																		<div class="main-block comment-block">
																			<!-- Comment Block Container -->
																			<div class="main-block-container comment-block-container">

																				<% @review.each do |review| %>

																					<!-- Comment Block Avatar -->
																					<div class="main-block-header comment-block-header">
																						<%= image_tag "avatar.jpeg" %>
																					</div><!-- /End Comment Block Avatar -->
																					<!-- Comment Block Body -->
																					<div class="main-block-body comment-block-body mb-3">

																						<!-- Comment Block Heading -->
																						<div class="main-block-heading comment-block-heading secondary-font-family">
																							<h5><%= review.user.name %></h5>
																						</div><!-- /End Comment Block Heading -->

																						<!-- Comment Block Description -->
																						<div class="main-block-content comment-block-content">
																							<div class="row">
																								<div class="col-10 mt-2"><p><%= review.comment %></p></div>
																								<div class="col-2">
																									<% if review.user.id == current_user.id %>
																										<%= link_to "削除", combination_review_combination_path(review.id), class: "btn btn-sm btn-outline btn-round btn-dark", method: :delete %>
																									<% end %>
																								</div>
																							</div>
																						</div><!-- /End Comment Block Description -->

																					</div><!-- /End Comment Block Body -->

																				<% end %>

																			</div><!-- /End Comment Block Container -->
																		</div><!-- /End Comment Block -->
																	</li><!-- /End Comments Block Item -->
																</ul><!-- /End Comments Block List -->
															</div><!-- /End Block content -->
														</div><!--/End Block body -->
													</div><!-- /End Block container -->
												</div><!-- /End Comments -->


												<!-- Reply block -->
												<div class="main-block reply-block" id="reply">
													<!-- Block container -->
													<div class="main-block-container reply-block-container">

														<!-- Block body -->
														<div class="main-block-body reply-block-body">

															<!-- Block heading -->
															<div class="main-block-heading reply-block-heading section-title-small"></div>

															<!-- Block content -->
															<div class="main-block-content reply-block-content">
																<!-- Reply form -->
																<div class="form-block form-block-validation form-block-reply">
																	<!-- Form container -->
																	<div class="form-block-container">
																		<!-- Form -->
																		<%= form_with model: @review_combination, url: combination_review_combinations_path(@combination), class: "row", local: true do |f| %>


																			<!-- Opinion -->
																			<div class="col-md-7">
																				<%= f.label :opinion, class: "label" do %>
																					評価 <span class="red-color">*</span>
																				<% end %>
																				<%= f.select :opinion, ReviewCombination::OPINION.map, {}, {class: "form-control"} %>
																			</div><!-- /End Opinion -->


																			<!-- Sweet -->
																			<div class="col-md-7">
																				<%= f.label :sweet, class: "label" do %>
																					甘さ
																				<% end %>
																				<%= f.select :sweet, ReviewCombination::SWEET.map, {}, {class: "form-control"} %>
																			</div><!-- /End Sweet -->


																			<!-- Refresh -->
																			<div class="col-md-7">
																				<%= f.label :refresh, class: "label" do %>
																					スッキリ感
																				<% end %>
																				<%= f.select :refresh, ReviewCombination::REFRESH.map, {}, {class: "form-control"} %>
																			</div><!-- /End Refresh -->


																			<!-- Relax -->
																			<div class="col-md-7">
																				<%= f.label :relax, class: "label" do %>
																					リラックス感
																				<% end %>
																				<%= f.select :relax, ReviewCombination::RELAX.map, {}, {class: "form-control"} %>
																			</div><!-- /End Relax -->


																			<!-- Easy -->
																			<div class="col-md-7">
																				<%= f.label :easy, class: "label" do %>
																					吸いやすさ
																				<% end %>
																				<%= f.select :easy, ReviewCombination::EASY.map, {}, {class: "form-control"} %>
																			</div><!-- /End Easy -->


																			<!-- Comment -->
																			<div class="col-lg-12">
																				<%= f.label :comment, class: "label" do %>
																					コメント
																				<% end %>
																				<%= f.text_area :comment, class: "form-control" %>
																			</div><!-- /End Comment -->


																			<!-- Submit button -->
																			<div class="col-lg-12">
																				<%= f.submit "投稿", class: "btn btn-primary" %>
																			</div><!-- /End Submit button -->


																		<% end %><!-- /End Form -->
																	</div><!-- /End Form container -->
																</div><!-- /End Reply form -->
															</div><!-- /End Block content -->
														</div><!--/End Block body -->
													</div><!-- /End Block container -->
												</div><!-- /End Comments -->
											</div><!-- /End Block footer -->
										</div><!--/End Block body -->
									</div><!-- /End Block container -->
								</article><!-- /End Post -->
							</div><!-- /End Post -->
						</div><!-- /End row -->
					</div><!-- /End Blog wrapper -->
				</main><!-- /End Main -->
			</div><!-- /End Content area -->
		</div><!-- /End row -->
	</div><!-- /End container -->
</div><!-- /End Page body -->