<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12 text-center admin-flavor-title">
            <h1>Flavor #Hints</h1>
            <%= link_to admin_flavor_path(@flavor) do %>
              <h1><%= @flavor.name %></h1>
            <% end %>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content row">
      <!-- col-lg-4 -->
      <% @hints.each do |hint| %>
        <div class="col-lg-3">
          <div class="item-block-list">
            <div class="item-block row">
              <div class="col-10 item-name">
                # <%= hint.content %>
              </div>
              <div class="col-2 stock-flavor-check" id="flavor_hint_<%= hint.id %>">
                <%= render 'gathers/gathers_button', {flavor: @flavor, hint: hint} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
		</section>
  </div>
</div>