<header class="header-section header-section-fixed">
	<!-- Header section container -->
	<div class="header-section-container">
		<!-- Header menu section -->
		<div class="header-menu-section">
			<!-- Header menu section container -->
			<div class="black-color">
				<!-- Navbar -->
				<nav class="navbar navbar-expand-lg">
					<!-- container -->
					<div class="container">
						<!-- Logo -->
						<div class="navbar-brand"><%= link_to image_tag('logo.png'), root_path %></div>
						<!-- Header menu (Desktop) -->
						<div class="header-menu desktop-menu navbar-collapse">
							<!-- Header menu links -->
							<ul class="navbar-nav ms-auto">
								<!-- Home -->
								<li class="nav-item">
									<%= link_to "HOME", root_path, class: "nav-link text-light" %>
								</li>
								<!-- Flavor -->
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle text-light" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">FLAVOR</a>
									<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
										<li>
											<%= link_to "combinations(組み合わせ)", combinations_path, class: "dropdown-item" %>
										</li>
										<li>
											<%= link_to "flavors(フレーバー)", flavors_path, class: "dropdown-item" %>
										</li>
									</ul>
								</li>
								<!-- Mypage -->
								<li class="nav-item">
									<%= link_to "SHOP", shops_path, class: "nav-link text-light" %>
								</li>
								<!-- Mypage -->
								<li class="nav-item">
									<%= link_to "MYPAGE", mypage_path, class: "nav-link text-light" %>
								</li>
								<!-- User -->
								<% if current_user %>
									<li class="nav-item">
										<%= link_to "LOGOUT", logout_path, method: :delete, class: "nav-link text-light" %>
									</li>
								<% else %>
									<li class="nav-item">
										<%= link_to "LOGIN", login_path, class: "nav-link text-light" %>
									</li>
								<% end %>
							</ul><!-- /End Header menu links -->
						</div><!-- /End Header menu (Desktop) -->
					</div><!-- /End container -->
				</nav><!-- /End Navbar -->
			</div><!-- /End Header menu section container -->
		</div><!-- /End Header menu section -->
	</div><!-- /End Header section container -->
</header><!-- /End Header section -->