<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12 text-center">
            <h1>Combination</h1>
            <h1>コンビネーション</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
		<div class="container">

			<div class="row">
				<div class="card col-12">
					<div class="card-head">
						<div class="row">
							<div class="flavor-image col-6 text-right mt-3"><%= image_tag @combination.first_flavor.flavor_image_url %></div>
							<div class="flavor-image col-6 text-left mt-3"><%= image_tag @combination.second_flavor.flavor_image_url %></div>
						</div>
					</div>
					<div class="card-body">
						<h3 class="text-center"><%= @combination.name %></h3>
						<h1 class="text-center"><%= @combination.status %></h1>
						<div class="text-center m-3"><%= link_to '編集', edit_admin_combination_path(@combination), class: "btn btn-success" %></div>
						<h5 class="text-center">スコア: <%= (@combination.rate.rating_rate * 100) %> <span class="badge bg-warning"><%= @combination.coefficient.rating %></span></h5>
						<h5 class="text-center">甘さ: <%= (@combination.rate.sweet_rate * 100) %> <span class="badge bg-warning"><%= @combination.coefficient.sweet %></span></h5>
						<h5 class="text-center">スッキリ: <%= (@combination.rate.refresh_rate * 100) %> <span class="badge bg-warning"><%= @combination.coefficient.refresh %></span></h5>
						<h5 class="text-center">リラックス: <%= (@combination.rate.relax_rate * 100) %> <span class="badge bg-warning"><%= @combination.coefficient.relax %></span></h5>
						<h5 class="text-center">吸いやすさ: <%= (@combination.rate.easy_rate * 100) %> <span class="badge bg-warning"><%= @combination.coefficient.easy %></span></h5>
						<div class="text-center m-3"><%= link_to '係数変更', edit_admin_combination_coefficient_path(@combination), class: "btn btn-warning" %></div>
					</div>
						
				</div>


				<div class="col-12">
					<div class="text-center"><h1>Reviews</h1></div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">甘さ</th>
								<th scope="col">スッキリ度</th>
								<th scope="col">リラックス度</th>
								<th scope="col">吸いやすさ</th>
								<th scope="col">評価</th>
								<th scope="col">コメント</th>
								<th scope="col">ユーザー</th>
								<th scope="col">作成日時</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<% @combination.review_combinations.each do |review| %>
								<tr>
									<td><%= review.id %></td>
									<td><%= review.sweet %></td>
									<td><%= review.refresh %></td>
									<td><%= review.relax %></td>
									<td><%= review.easy %></td>
									<td><%= review.rating %></td>
									<td><%= review.comment %></td>
									<td><%= review.user.name %></td>
									<td><%= review.created_at.strftime("%Y-%m-%d %H:%M") %></td>
									<td>
										<%= link_to '削除', admin_combination_review_combination_path(@combination, review), class: "btn btn-danger", method: :delete %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>


		</div>
  </div>
</div>
