<div id="page-body" class="page-body">
  <!-- row -->
  <div class="row main-row justify-content-center">
    <!-- Content area
    ==================================================== -->
    <div id="primary" class="content-area col-lg-12">
      <!-- Main -->
      <main id="main" class="content-area-container site-main">

        <!-- Section -->
        <div class="main-section parallax-section pt-0 pb-0 dark-1-color-bg home-background">
          <!-- container -->
          <div class="container gx-4">
            <!-- row -->
            <div class="row gx-36 text-center">
              <div class="col-12 title-logo mt-3"><%= image_tag 'logo.png' %></div>
              <div class="col-12 title-text"><h2>シーシャのオーダーの迷いから解放するアプリ</h2></div>
              <!-- search -->
              <div class="container search-block offset-2 col-8 row mt-72">
                <div class="search-title">
                  <div class="search-content mt-36">
                    <% if Combination.all.length > 0 %>
                      <p><%= link_to 'ランダム診断', rate_path, class: "btn btn-danger btn-lg btn-round text-white" %></p>
                      <p><%= link_to 'おすすめ診断', searchs_path, class: "btn btn-danger btn-lg btn-round text-white" %></p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div><!-- /End row -->
          </div><!-- /End container -->
        </div><!-- /End Section -->

        <!-- Section -->
        <div class="main-section dark-1-color-bg">
          <!-- container -->
          <div class="container gx-4">
            <!-- row -->
            <div class="row gx-36">

              <!-- col-lg-3 -->
              <div class="col-lg-4 col-md-3 col-sm-6">

                <!-- Counter -->
                <div class="main-block counter-block text-center light-color">
                  <!-- Block container -->
                  <div class="main-block-container counter-block-container">

                    <!-- Block body -->
                    <div class="main-block-body counter-block-body">

                      <!-- Heading -->
                      <div class="main-block-heading counter-block-heading">
                        <h5 class="h2 accent-color">
                          <span
                            data-from="0"
                            data-to="900"
                            data-speed="1000"
                            data-refresh-interval="50">
                            <%= Flavor.all.length %>
                          </span>
                        </h5>
                      </div><!-- /End Heading -->

                      <!-- Block content -->
                      <div class="main-block-content counter-block-content">
                        <p>Flavors</p>
                      </div><!-- /End Block content -->

                    </div><!--/End Body -->

                  </div><!-- /End Block container -->
                </div><!-- /End Counter -->

              </div><!-- /End col-lg-3 -->

              <!-- col-lg-3 -->
              <div class="col-lg-4 col-md-3 col-sm-6">

                <!-- Counter -->
                <div class="main-block counter-block text-center light-color">
                  <!-- Block container -->
                  <div class="main-block-container counter-block-container">

                    <!-- Block body -->
                    <div class="main-block-body counter-block-body">

                      <!-- Heading -->
                      <div class="main-block-heading counter-block-heading">
                        <h5 class="h2 accent-color">
                          <span
                            data-from="0"
                            data-to="900"
                            data-speed="1000"
                            data-refresh-interval="50">
                            <%= Combination.all.length %>
                          </span>
                        </h5>
                      </div><!-- /End Heading -->

                      <!-- Block content -->
                      <div class="main-block-content counter-block-content">
                        <p>Combinations</p>
                      </div><!-- /End Block content -->

                    </div><!--/End Body -->

                  </div><!-- /End Block container -->
                </div><!-- /End Counter -->

              </div><!-- /End col-lg-3 -->

              <!-- col-lg-3 -->
              <div class="col-lg-4 col-md-3 col-sm-6">

                <!-- Counter -->
                <div class="main-block counter-block text-center light-color">
                  <!-- Block container -->
                  <div class="main-block-container counter-block-container">

                    <!-- Block body -->
                    <div class="main-block-body counter-block-body">

                      <!-- Heading -->
                      <div class="main-block-heading counter-block-heading">
                        <h5 class="h2 accent-color">
                          <span
                            data-from="0"
                            data-to="900"
                            data-speed="1000"
                            data-refresh-interval="50">
                            0
                          </span>
                        </h5>
                      </div><!-- /End Heading -->

                      <!-- Block content -->
                      <div class="main-block-content counter-block-content">
                        <p>Shops</p>
                      </div><!-- /End Block content -->

                    </div><!--/End Body -->

                  </div><!-- /End Block container -->
                </div><!-- /End Counter -->

              </div><!-- /End col-lg-3 -->

            </div><!-- /End row -->
          </div><!-- /End container -->
        </div><!-- /End Section -->

        <!-- Section -->
        <div class="main-section">
          <!-- container -->
          <div class="container gx-4">
            <!-- row -->
            <div class="row gx-36">


              <!-- col-lg-8 -->
              <div class="col-lg-8 offset-lg-2">

                <!-- Section title -->
                <div class="section-title text-center">
                  <!-- Section title container -->
                  <div class="section-title-container">

                    <!-- Section title body -->
                    <div class="section-title-body">

                      <!-- Section title heading -->
                      <div class="section-title-heading">
                        <h6 class="font-weight-500 accent-color">What SeeSHA</h6>
                        <h2>アプリについて</h2>
                      </div><!-- /End Section title heading -->

                      <!-- Block content -->
                      <div class="section-title-content mt-48">
                        <p>シーシャ（水タバコ）を提供しているお店では多くの種類のフレーバーがあり、フレーバーを組み合わせてシーシャを楽しみます。</p>
                        <p>フレーバーの組み合わせは自由だけど、選択肢がありすぎて困ってしまうことありませんか？</p>
                        <p>このアプリはどのフレーバーの組み合わせにしようか迷っている人にフレーバーを提案するサービスです。</p>
                      </div><!-- /End Block content -->

                    </div><!--/End Section title body -->

                  </div><!-- /End Section title container -->
                </div><!-- /End Section title -->

                  <!-- GAP -->
                  <div class="gap gap-36"></div>

              </div><!-- /End col-lg-8 -->
            </div><!-- /End row -->
          </div><!-- /End container -->
        </div><!-- /End Section -->
      </main><!-- /End Main -->
    </div><!-- /End Content area -->
  </div><!-- /End row -->
</div><!-- /End Page body -->