<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Categories</h1>
            <h1>カテゴリー</h1>
          </div>
          <div class="col-sm-12">
            <%= link_to '新規カテゴリー', new_admin_category_path, class: "btn btn-warning mt-3" %>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
			<div class="col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">名前</th>
							<th scope="col">作成日時</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<% @categories.each do |category| %>
							<tr>
								<td><%= category.id %></td>
								<td><%= category.name %></td>
								<td><%= category.created_at.strftime("%Y-%m-%d %H:%M") %></td>
								<td>
									<%= link_to '編集', edit_admin_category_path(category), class: "btn btn-success" %>
									<%= link_to '削除', admin_category_path(category), class: "btn btn-danger", method: :delete %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</section>
  </div>
</div>