<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta lang='ja'>
  <meta name="robots" content="noindex, nofollow">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <%= render 'admin/shared/header' %>
  <%= render 'admin/shared/sidebar' %>
  <%= yield %>
  <%= render 'admin/shared/footer' %>
</body>
</html>