<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>コンビネーション編集</h1>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
			<div class="row">

				<div class="card col-12">
					<div class="card-head">
						<div class="row">
							<div class="flavor-image col-6 text-right mt-3"><%= image_tag @combination.first_flavor.flavor_image_url %></div>
							<div class="flavor-image col-6 text-left mt-3"><%= image_tag @combination.second_flavor.flavor_image_url %></div>
						</div>
					</div>
					<div class="card-body">
						<h3 class="text-center"><%= @combination.name %></h3>
						<h1 class="text-center"><%= @combination.status %></h1>
						<div class="text-center m-3"><%= link_to '編集', edit_admin_combination_path(@combination), class: "btn btn-success" %></div>
						<h5 class="text-center">スコア: <%= (@combination.rate.rating_rate * 100) %> <span class="badge bg-warning"><%= @combination.coefficient.rating %></span></h5>
						<h5 class="text-center">甘さ: <%= (@combination.rate.sweet_rate * 100) %> <span class="badge bg-warning"><%= @combination.coefficient.sweet %></span></h5>
						<h5 class="text-center">スッキリ: <%= (@combination.rate.refresh_rate * 100) %> <span class="badge bg-warning"><%= @combination.coefficient.refresh %></span></h5>
						<h5 class="text-center">リラックス: <%= (@combination.rate.relax_rate * 100) %> <span class="badge bg-warning"><%= @combination.coefficient.relax %></span></h5>
						<h5 class="text-center">吸いやすさ: <%= (@combination.rate.easy_rate * 100) %> <span class="badge bg-warning"><%= @combination.coefficient.easy %></span></h5>
					</div>
				</div>

				<div class="card card-primary col-12">
					<div class="card-body row">
						<%= form_with model: @coefficient, url: admin_combination_coefficient_path(@coefficient), method: :patch, local: true do |f| %>
							<div class="form-group col-4">
								<%= f.label :rating, "評価", class: "form-group-label" %>
								<%= f.select :rating, Coefficient::NUMBER.map, {}, {class: "form-control"} %>
							</div>
							<div class="form-group col-4">
								<%= f.label :sweet, "甘さ", class: "form-group-label" %>
								<%= f.select :sweet, Coefficient::NUMBER.map, {}, {class: "form-control"} %>
							</div>
							<div class="form-group col-4">
								<%= f.label :refresh, "スッキリ", class: "form-group-label" %>
								<%= f.select :refresh, Coefficient::NUMBER.map, {}, {class: "form-control"} %>
							</div>
							<div class="form-group col-4">
								<%= f.label :relax, "リラックス", class: "form-group-label" %>
								<%= f.select :relax, Coefficient::NUMBER.map, {}, {class: "form-control"} %>
							</div>
							<div class="form-group col-4">
								<%= f.label :easy, "吸いやすさ", class: "form-group-label" %>
								<%= f.select :easy, Coefficient::NUMBER.map, {}, {class: "form-control"} %>
							</div>
							<div class="text-center mt-3 col-12">
								<%= f.submit "変更", class: 'btn btn-success btn-lg' %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>