<div id="page-body" class="page-body">
	<!-- row -->
	<div class="row main-row justify-content-center">
		<!-- Content area
		==================================================== -->
		<div id="primary" class="content-area col-lg-12">
			<!-- Main -->
			<main id="main" class="content-area-container site-main">
				<!-- Section -->
				<div class="main-section">
					<!-- container -->
					<div class="container gx-4">
						<!-- row -->
						<div class="row gx-36">
							<!-- col-lg-8 -->
							<div class="col-lg-8 offset-lg-2">
								<!-- Section title -->
								<div class="section-title text-center">
									<!-- Section title container -->
									<div class="section-title-container">
										<!-- Section title body -->
										<div class="section-title-body">
											<!-- Section title heading -->
											<div class="section-title-heading">
												<h2>おすすめ診断</h2>
											</div><!-- /End Section title heading -->
										</div><!--/End Section title body -->
									</div><!-- /End Section title container -->
								</div><!-- /End Section title -->
								<!-- GAP -->
								<div class="gap gap-36"></div>

							</div><!-- /End col-lg-8 -->


							<!-- col-lg-8 -->
							<div class="col-lg-8 offset-lg-2">
								<!-- Contact form -->
								<div class="form-block form-block-validation form-block-contact">
									<!-- Form container -->
									<div class="form-block-container">
										<!-- Form -->
										<%= form_with url: searchs_path, class: "row", local: true do |f| %>

											<!-- Question Easy -->
											<div class="label text-center">
												<h5>Q1 普段からタバコは吸う？</h5>
											</div>

											<%= f.radio_button :easy, 'not_smoke', class: "btn-check", autocomplete: "off" %>
											<%= f.label :easy_not_smoke, '吸わない', class: "btn btn-outline-success col-md-12 mb-1" %>

											<%= f.radio_button :easy, 'smoke', class: "btn-check", autocomplete: "off" %>
											<%= f.label :easy_smoke, '吸う', class: "btn btn-outline-success col-md-12 mb-1" %>


											<!-- GAP -->
											<div class="gap gap-36"></div>

											<!-- Question Sweet -->
											<div class="label text-center">
												<h5>Q2 甘さの好みは？</h5>
											</div>


											<%= f.radio_button :sweet, 'sweet', class: "btn-check", autocomplete: "off" %>
											<%= f.label :sweet_sweet, '甘いやつ', class: "btn btn-outline-success col-md-12 mb-1" %>

											<%= f.radio_button :sweet, 'not_sweet', class: "btn-check", autocomplete: "off" %>
											<%= f.label :sweet_not_sweet, '甘くないやつ', class: "btn btn-outline-success col-md-12 mb-1" %>


											<!-- GAP -->
											<div class="gap gap-36"></div>

											<!-- Question Refresh -->
											<div class="label text-center">
												<h5>Q3 どんな気分になりたい？</h5>
											</div>

											<%= f.radio_button :feeling, 'refresh', class: "btn-check", autocomplete: "off" %>
											<%= f.label :feeling_refresh, 'スッキリしたい', class: "btn btn-outline-success col-md-12 mb-1" %>

											<%= f.radio_button :feeling, 'relax', class: "btn-check", autocomplete: "off" %>
											<%= f.label :feeling_relax, 'リラックスしたい', class: "btn btn-outline-success col-md-12 mb-1" %>

											<%= f.radio_button :feeling, 'none', class: "btn-check", autocomplete: "off" %>
											<%= f.label :feeling_none, 'こだわりなし', class: "btn btn-outline-success col-md-12 mb-1" %>


											<!-- GAP -->
											<div class="gap gap-36"></div>											


											<!-- Question Flavor -->
											<div class="label text-center">
												<h5>Q4 どんなものが吸いたい？</h5>
											</div>

											<%= f.radio_button :what, 'popular', class: "btn-check", autocomplete: "off" %>
											<%= f.label :what_popular, '人気のあるフレーバー', class: "btn btn-outline-success col-md-12 mb-1" %>

											<%= f.radio_button :what, 'unique', class: "btn-check", autocomplete: "off" %>
											<%= f.label :what_unique, '個性的なフレーバー', class: "btn btn-outline-success col-md-12 mb-1" %>

											<%= f.radio_button :what, 'alcohol', class: "btn-check", autocomplete: "off" %>
											<%= f.label :what_alcohol, 'アルコールを含むフレーバー', class: "btn btn-outline-success col-md-12 mb-1" %>

											<%= f.radio_button :what, 'none', class: "btn-check", autocomplete: "off" %>
											<%= f.label :what_none, 'こだわりなし', class: "btn btn-outline-success col-md-12 mb-1" %>

											<!-- GAP -->
											<div class="gap gap-72"></div>

											<!-- Submit button -->
											<div class="col-lg-12">
												<%= f.submit "診断", class: "btn btn-danger btn-block" %>
											</div>

										<% end %><!-- /End Form -->
									</div><!-- /End Form container -->
								</div><!-- /End Contact form -->
							</div><!-- /End col-lg-8 -->


						</div><!-- /End row -->
					</div><!-- /End container -->
				</div><!-- /End Section -->


			</main><!-- /End Main -->
		</div><!-- /End Content area -->
	</div><!-- /End row -->
</div><!-- /End Page body -->