<div id="page-body" class="page-body">
	<!-- row -->
	<div class="row main-row justify-content-center">
		<!-- Content area
		==================================================== -->
		<div id="primary" class="content-area col-lg-12">
			<!-- Main -->
			<main id="main" class="content-area-container site-main">


				<!-- Section -->
				<div class="main-section">
					<!-- container -->
					<div class="container gx-4">
						<!-- row -->
						<div class="row gx-36">


							<!-- col-lg-8 -->
							<div class="col-lg-8 offset-lg-2">

								<!-- Section title -->
								<div class="section-title text-center">
									<!-- Section title container -->
									<div class="section-title-container">

										<!-- Section title body -->
										<div class="section-title-body">

											<!-- Section title heading -->
											<div class="section-title-heading">
												<h2>おすすめ診断 START</h2>
											</div><!-- /End Section title heading -->

										</div><!--/End Section title body -->

									</div><!-- /End Section title container -->
								</div><!-- /End Section title -->

								<!-- GAP -->
								<div class="gap gap-36"></div>

							</div><!-- /End col-lg-8 -->


							<!-- col-lg-8 -->
							<div class="col-lg-8 offset-lg-2">
								<!-- Contact form -->
								<div class="form-block form-block-validation form-block-contact">
									<!-- Form container -->
									<div class="form-block-container">
										<!-- Form -->
										<%= form_with url: searchs_path, class: "row", local: true do |f| %>

											<!-- Question Easy -->
											<div class="label text-center">
												<h5>Q1 普段からタバコは吸う？</h5>
											</div>

											<%= f.radio_button :easy, '1', class: "btn-check", autocomplete: "off" %>
											<%= f.label :easy_1, '吸わない', class: "btn btn-outline-success col-md-12 mb-1" %>

											<%= f.radio_button :easy, '2', class: "btn-check", autocomplete: "off" %>
											<%= f.label :easy_2, '吸う', class: "btn btn-outline-success col-md-12 mb-1" %>


											<!-- GAP -->
											<div class="gap gap-36"></div>

											<!-- Question Sweet -->
											<div class="label text-center">
												<h5>Q2 甘さの好みは？</h5>
											</div>


											<%= f.radio_button :sweet, '2', class: "btn-check", autocomplete: "off" %>
											<%= f.label :sweet_2, '甘いやつ', class: "btn btn-outline-success col-md-12 mb-1" %>

											<%= f.radio_button :sweet, '3', class: "btn-check", autocomplete: "off" %>
											<%= f.label :sweet_3, '甘くないやつ', class: "btn btn-outline-success col-md-12 mb-1" %>


											<!-- GAP -->
											<div class="gap gap-36"></div>

											<!-- Question Refresh -->
											<div class="label text-center">
												<h5>Q3 どんな気分になりたい？</h5>
											</div>

											<%= f.radio_button :refresh, '1', class: "btn-check", autocomplete: "off" %>
											<%= f.label :refresh_1, 'スッキリしたい', class: "btn btn-outline-success col-md-12 mb-1" %>

											<%= f.radio_button :refresh, '2', class: "btn-check", autocomplete: "off" %>
											<%= f.label :refresh_2, 'リラックスしたい', class: "btn btn-outline-success col-md-12 mb-1" %>

											<%= f.radio_button :refresh, '3', class: "btn-check", autocomplete: "off" %>
											<%= f.label :refresh_3, 'こだわりなし', class: "btn btn-outline-success col-md-12 mb-1" %>


											<!-- GAP -->
											<div class="gap gap-36"></div>											


											<!-- Question Flavor -->
											<div class="label text-center">
												<h5>Q4 どんなものが吸いたい？</h5>
											</div>

											<%= f.radio_button :easy, '1', class: "btn-check", autocomplete: "off" %>
											<%= f.label :easy_1, '人気のあるフレーバー', class: "btn btn-outline-success col-md-12 mb-1" %>

											<%= f.radio_button :easy, '2', class: "btn-check", autocomplete: "off" %>
											<%= f.label :easy_2, '個性的なフレーバー', class: "btn btn-outline-success col-md-12 mb-1" %>

											<%= f.radio_button :easy, '3', class: "btn-check", autocomplete: "off" %>
											<%= f.label :easy_3, 'アルコールを含むフレーバー', class: "btn btn-outline-success col-md-12 mb-1" %>

											<!-- GAP -->
											<div class="gap gap-36"></div>

											<!-- Submit button -->
											<div class="col-lg-12">
												<%= f.submit "診断", class: "btn btn-danger btn-block" %>
											</div>

										<% end %><!-- /End Form -->
									</div><!-- /End Form container -->
								</div><!-- /End Contact form -->
							</div><!-- /End col-lg-8 -->


						</div><!-- /End row -->
					</div><!-- /End container -->
				</div><!-- /End Section -->


			</main><!-- /End Main -->
		</div><!-- /End Content area -->
	</div><!-- /End row -->
</div><!-- /End Page body -->