<div id="page-body" class="page-body">
	<!-- row -->
	<div class="row main-row justify-content-center">
		<!-- Content area
		==================================================== -->
		<div id="primary" class="content-area col-lg-12">
			<!-- Main -->
			<main id="main" class="content-area-container site-main">


				<!-- Section -->
				<div class="main-section">
					<!-- container -->
					<div class="container gx-4">
						<!-- row -->
						<div class="row gx-36">


							<!-- col-lg-8 -->
							<div class="col-lg-8 offset-lg-2">

								<!-- Section title -->
								<div class="section-title text-center">
									<!-- Section title container -->
									<div class="section-title-container">

										<!-- Section title body -->
										<div class="section-title-body">

											<!-- Section title heading -->
											<div class="section-title-heading">
												<h2>「<%= @main_combination.keyword%>」と相性の良いフレーバー</h2>
											</div><!-- /End Section title heading -->

										</div><!--/End Section title body -->

									</div><!-- /End Section title container -->
								</div><!-- /End Section title -->

								<!-- GAP -->
								<div class="gap gap-36"></div>

							</div><!-- /End col-lg-8 -->


							<!-- col-lg-8 -->
							<div class="col-lg-8 offset-lg-2">
								<!-- Contact form -->
								<div class="form-block form-block-validation form-block-contact">
									<!-- Form container -->
									<div class="form-block-container">
										<!-- Form -->
										<%= form_with model: @compability, url: combination_compabilities_path, class: "row", local: true do |f| %>


											<!-- Sub Combination -->
											<div class="col-md-12">
												<%= f.label :sub_combination_id, "フレーバー", class: "label" %>
												<%= f.select :sub_combination_id, @combinations.map{ |combination| [combination.keyword, combination.id]}, {}, {class: "form-control"} %>
											</div>

											<!-- Kind -->
											<div class="col-md-12">
												<%= f.label :kind, "ジャンル", class: "label" %>
												<%= f.select :kind, Compability::KIND.map, {}, {class: "form-control"} %>
											</div>

											<!-- Submit button -->
											<div class="col-lg-12">
												<%= f.submit "登録", class: "btn btn-primary btn-block" %>
											</div>


										<% end %><!-- /End Form -->
									</div><!-- /End Form container -->
								</div><!-- /End Contact form -->
							</div><!-- /End col-lg-8 -->


						</div><!-- /End row -->
					</div><!-- /End container -->
				</div><!-- /End Section -->


			</main><!-- /End Main -->
		</div><!-- /End Content area -->
	</div><!-- /End row -->
</div><!-- /End Page body -->